[Desktop Entry]
Version=1.0
Type=Application
Name=SmartLinux
Comment=Diagnóstico S.M.A.R.T. On-Demand de Discos Duros
Exec=/home/hbarchini/Documents/desarrollo/smartlinux/smartlinux.sh
Terminal=false
Categories=System;HardwareSettings;
Keywords=smart;disk;hdd;ssd;nvme;storage;diagnostic;
