[Desktop Entry]
Name=SmartLinux
GenericName=Disk Diagnostic Tool
Comment=S.M.A.R.T. Disk Health Diagnostics & Monitoring
Exec=sh -c "cd $(dirname %k) && ./smartlinux.sh"
Icon=smartlinux
Terminal=false
Type=Application
Categories=System;HardwareSettings;Utility;
Keywords=smart;disk;ssd;hdd;nvme;health;telemetry;diagnostic;storage;
StartupWMClass=smartlinux
